.show-content-link:after {
    content: '...';
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.about-me p {
    font-size: 90%;
}

.media-image-1 {
    width: 300px;
    height: 300px;
}

/*
 * Blog posts
 */
 .blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
 .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.social a {
    color: #ffffff;
}

.social a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

ul .media {
    flex-wrap: wrap;
}